@import "tailwindcss";

:root {
  --yinmn-blue: #3d5a80ff;
  --powder-blue: #98c1d9ff;
  --light-cyan: #e0fbfcff;
  --cinnabar: #ea481fff;
  --gunmetal: #293241ff;
  --white: #ffffff;
}

@theme inline {
  --color-yinmn-blue: var(--yinmn-blue);
  --color-powder-blue: var(--powder-blue);
  --color-light-cyan: var(--light-cyan);
  --color-cinnabar: var(--cinnabar);
  --color-gunmetal: var(--gunmetal);
  --color-white: var(--white);
}

body {
  background-color: var(--gunmetal);
  color: var(--white); 
}